<div class="hero">
  <nav>
    <h2>Doctolib</h2>
    <ul>
      <li><a href="#" id="sante">Vous êtes professionnel de santé ?</a></li>
      <li>
        <div>
          <fa-icon [icon]="faQuestionCircle" class="icon"></fa-icon>
          <a href="#">Besoin d'aide?</a>
        </div>
      </li>
      <li>
        <div>
          <fa-icon [icon]="faUser" class="icon"></fa-icon>
          <div>
            <a href="#">Se connecter</a>
            <span><a href="#">Gérer mes RDV</a></span>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
